<ng-template [ngIf]="currentPage === finalDefectsPage.TABLE && data !== undefined">
  <app-tab-sheet [columnsToDisplay]="data.metrics.tableHeaderNames" [displayedColumns]="data.metrics.fieldNames" [data]="data.metrics.data"
                 [title]="data.metrics.title"></app-tab-sheet>

  <app-tab-sheet [columnsToDisplay]="data.tableHeaderNames" [displayedColumns]="data.fieldNames" [data]="data.data"
                 [title]="data.title"></app-tab-sheet>
</ng-template>

<ng-template [ngIf]="currentPage === finalDefectsPage.WORKER_METRICS && data !== undefined">
  <box-plot [data]="data.metrics.workerMetricsBoxPlotData" [name]="'Worker Metrics'" [xAxis]="'value'" [yAxis]="'type'"></box-plot>
  <workerScores-chart [data]="data.metrics.workerMetrics.evaluationResultMetrics" [pearsonScores]="data.metrics.workerMetrics.pearsonScores" [name]="'Worker Metrics'"></workerScores-chart>
</ng-template>

<ng-template [ngIf]="currentPage === finalDefectsPage.WORKER_METRICS_TABLE && data !== undefined">
  <app-tab-sheet [columnsToDisplay]="data.metrics.workerMetrics.tableHeaderNames" [displayedColumns]="data.metrics.workerMetrics.fieldNames" [data]="data.metrics.workerMetrics.evaluationResultMetrics"
                 [title]="data.metrics.title"></app-tab-sheet>
</ng-template>

<ng-template [ngIf]="currentPage === finalDefectsPage.METRICS_COMPARISON && allMetrics !== undefined">
  <bar-chart [data]="confusionMatrixForBarChart" [xAxis]="'value'" [yAxis]="'type'" [colorField]="'algorithm'" [name]="'Confusion Matrix Comparison'"></bar-chart>
  <bar-chart [data]="allMetricsForBarChart" [xAxis]="'value'" [yAxis]="'type'" [colorField]="'algorithm'" [name]="'Metrics Comparison'"></bar-chart>
  <app-tab-sheet [columnsToDisplay]="allMetrics.tableHeaderNames" [displayedColumns]="allMetrics.fieldNames" [data]="allMetrics.data"
                 [title]="allMetrics.title"></app-tab-sheet>
</ng-template>
<ng-template [ngIf]="currentPage === finalDefectsPage.FINAL_DEFECT_COMPARISON && finalDefectsComparison !== undefined">
  <app-tab-sheet [columnsToDisplay]="finalDefectsComparison.tableHeaderNames" [displayedColumns]="finalDefectsComparison.fieldNames" [data]="finalDefectsComparison.data"
                 [title]="finalDefectsComparison.title"></app-tab-sheet>
</ng-template>

